

```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

In [13]:
n = int(input('Enter line number :- '))
for i in range(1, n+1):
  for j in range(1, i+1):
    print(j,end = ' ')
  print()

Enter line number :- 8
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8



```
1
1 1
1 1 1
1 1 1 1
1 1 1 1 1
```

In [17]:
n = int(input('Enter line number :- '))
for i in range(1, n+1):
  for j in range(1, i+1):
    print(1,end = ' ')
  print()

Enter line number :- 5
1
1 1
1 1 1
1 1 1 1
1 1 1 1 1



```
*
**
***
****
*****
```

In [50]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end= '')
  print()

*
**
***
****
*****

In [34]:
n=5

for i in range(1, n+1):
  print('1 '*i)

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1



```
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
```

In [36]:
n=5
count = 1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(count, end = ' ')
    count += 1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15



```
1
2 2
3 3 3
4 4 4 4
5 5 5 5

In [40]:
n=5

for i in range(1,n+1):
  for j in range(1,i+1):
    print(i, end = ' ')  
  print()

for i in range(1, n+1):
  print((str(i)+' ')*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5



```
* * * *
* * *
* *
*
```

In [49]:
n=4
for i in range(n,0,-1):
  #print('* '*i)
  for j  in range(1,i+1):
    print('*', end = ' ')
  print()

* * * *
* * *
* *
*



```
*
**
***
****
*****
****
***
**
*
```

In [61]:
n=7


for i in range(1, n+1):
  print('*'*i)
for j in range(n-1,0,-1):
  print('*'*j)

*
**
***
****
*****
******
*******
******
*****
****
***
**
*



```
number 1:- 

    *
   **
  ***
 ****
*****


Number 2:- 

    1
   12
  123
 1234
12345


number 3:-
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

Number 4 :- 
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

Number 5:-

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

Number 6:-

*****
 ***
  *

Number 7;

* * * * *
 * * * *
  * * *
   * *
    *

Number 8:-


* * * * *
 * * * *
  * * *
   * *
    *
   * *
  * * *
 * * * *
* * * * *

Number 9:-

**********
*
*
*   ******
*   *    *
*        *
**********

Number 10:

*   *
*  *
* *
**
* *
*  *
*   *

Number 11 :

All 24 other then 2 mentioned above alphabets in star(*) form 

Number 12 :- 

+         + + + + + +
+         +
+         +
+         +
+         +
+ + + + + + + + + + +
          +         +
          +         +
          +         +
          +         +
+ + + + + +         +

```